html, body {
	margin: 0;
	padding: 0;
}

#anchor_text {
	font-family: Arial;
	font-size: 15px;
}

.nav_links {
	font-family: Arial !important;
	font-size: 15px !important;
    color: white !important; 
    text-decoration: none !important;
}

a:link {
	color: orange;
}
a:visited {
	color: orange;
}
a:hover {
	color: yellow;
}

.top_row {
	background-color: black;
	font-family: Arial;
	font-size: 15px;
	color: white !important; 
	padding: 15px 15px 15px 15px;   
}

.other_nav {
	float: right;
}

span {
	padding-left: 10px;
}

.splash {
	background-repeat: no-repeat;
  	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0,0.9), rgba(0, 0, 0,0.5) ), url(cp01-images/draft_beer.jpg);
	height: 100vh;
	width: 100vw;
	padding: 30vh 0vh 30vh 0vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	/*the text:*/
	color: white;
	font-family: Courier New;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

button {
	background-color: black;
	color: white;
	padding: 20px 10px 20px 10px;
	font-family: Arial;
	font-size: 15px;
}

.section_headers {
	font-family: Courier New;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding: 20px 0px 20px 0px;
}

.main_text {
	font-family: Arial;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

.columns1 {
	display : grid; 
	grid-template-columns : 1fr 1fr 1fr ;
	grid-gap : 1em;
	justify-content: space-around;
}

.smlGalleryImg {
	width: 100%;
}

#lrgGalleryImg {
	width: 100%;
	grid-column: 1 / -1; /* can change to 1 / 3;  and it will span just two columns ...as in 'up to' the start of column 1. If start at two starts at 2*/
}

.columns2 {
	display : grid; 
	grid-template-columns : 30% 30%;
	grid-gap : 1em;
	justify-content: space-around;
}

@media screen and (max-width: 500px) {
	.columns1, .columns2{
		grid-template-columns: 1fr;
	}
}

h3 {
	font-family: Courier New;
	font-size: 18px;
	text-align: center;
	font-weight: bold;	
}

.footer {
	background-color: black;
	font-family: Arial;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 15px 15px 15px 15px;   
}
